* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;

    min-height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}



.login-container {
    position: relative;
    z-index: 2;

    background: white;
    padding: 36px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: min(92%, 420px);
    max-width: 420px;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.back-button:hover {
    background-color: #f9f9f9;
}

.back-button img {
    width: 20px;
    height: 20px;
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}

.subtitle {
    font-size: 13px;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.4;
}

.code-label {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.code-input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #000000;
}

.google-btn {
    width: 100%;
    padding: 14px;
    border-radius: 10px !important;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: border 0.2s;
}

.google-btn:hover {
    border: 1px solid #312eff;
}

.google-btn img {
    width: 20px;
    height: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.register-btn {
    width: 100%;
    padding: 14px;
    border-radius: 10px !important;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    background: #ffc738;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color, color 0.2s;
}

.register-btn:hover {
    background-color: #FBBF24;
    color: #ffffff;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #999;
    font-size: 13px;
    position: relative;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ddd;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.resend-code {
    text-align: center;
    font-size: 12px;
    color: #666;
}

.resend-code a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.bottom-shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    pointer-events: none;
    z-index: 0;
    /*behind */
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    align-items: center;
    gap: 12px;

    z-index: 3;
    /* above background shapes */
}


.logo-img {
    width: 75px;
    height: auto;
}

.logo-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.logo-subtitle {
    margin: 2px 0 0;
    font-size: 12px;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: calc(100% - 32px);
    }

    .back-button {
        width: 34px;
        height: 34px;
    }

    .back-button img {
        width: 16px;
        height: 16px;
    }

    .cap {
        display: none;
    }
}